h1 {   
    text-align:center; 
    font-size: 72px;
}

h2 {
    font-size: 30px;
    text-align: center; 
    border-style: solid;  
    border-width: 1px; 
    margin:200px;
    margin-bottom: 25px;
    margin-top: 25px; 
    background-color:snow;
} 
p { 
 padding-left: 200px;
 padding-right: 200px; 
 text-align: justify; 
 font-size: 20px; 
}
ul {
padding-left: 250px;
} 
img { 
    padding-left: 230px;
}
h3 {
    font-size: 25px;
}  
main {
    background-color: beige;
}